* {
        box-sizing: border-box;
}

body {
	background-color: gray;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;
	text-align: center;
	font-style: oblique;
	font-family: Comic Sans MS, Comic Sans;
}

.flexbox-container {
        display: flex;
	background-color: orange;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
}

.flexbox-item {
	border: 5px solid gray;
	background-color: orange;
}

.flexbox-item-1 {
	width: 460px;
	height: 460px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
